/* Reset general */
* {
  margin: 0;
  padding: 10 em;
  box-sizing: border-box;
}

html, body {
  height: 100%;
}

header {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  background: rgba(0, 0, 0, 0);
  color: white;
  padding: 2rem 2rem;
  z-index: 10;
}

nav a {
  color: white;
  text-decoration: none;
}

nav a:hover {
  text-decoration: bold;
}

#portada {
  height: 100vh;
  background-image: url('portada.jpg');
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  position: relative;
  display: flex;
  align-items: center;
}

.contenedor {
  max-width: 1000px;
  margin:  auto;
  padding-top: 1em;
  padding-bottom: 1em;
}

#agenda {
  padding-top: 1em;
  padding-bottom: 1em;
  background-color: darkslategray;
  color: #fafafa;
}

body {
  font-family: "Fustat", sans-serif;
  font-size: 16px;
  color: darkslategray;
  background-color: #fafafa;
  line-height: 1.5;
  margin: 0;
  padding: 0;
}
h1 {
  font-family: "Fustat", serif;
  font-size: 36px;
  font-weight: 400;
}

h2 {
  font-family: "Fustat", serif;
  font-size: 22px;
  font-weight: 400;
}

h3 {
  font-family: "Fustat", serif;
  font-style: italic;
  font-size: 14px;
  font-weight: 800;
}

a {
  color: darkslategray;
  text-decoration: none;
}

a:hover {
  color: #254545;
  text-decoration: underline;
}