/* Reset general */
* {
  margin: 0;
  padding: 10 em;
  box-sizing: border-box;
}

html, body {
  height: 100%;
}

.contenedor {
  max-width: 1000px;
  margin:  auto;
  padding: 0 6rem;
}

header {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  background: rgba(0, 0, 0, 0);
  color: white;
  padding: 1rem 0;
  z-index: 10;
}

nav a {
  color: white;
  text-decoration: none;
  font-weight: bold;
}

nav a:hover {
  text-decoration: underline;
}

#portada {
  height: 100vh;
  background-image: url('portada.jpg');
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  position: relative;
  display: flex;
  align-items: center;
}

#novedades, #bio, #obras, #contacto {
  padding: 2rem 0;
}

body {
  font-family: "Fustat", sans-serif;
  font-size: 16px;
  color: #2a2a2a;
  background-color: #fafafa;
  line-height: 1.4;
  margin: 0;
  padding: 0;
}
h1 {
  font-family: "Fustat", serif;
  font-size: 36px;
  font-weight: 400;
}

h2 {
  font-family: "Fustat", serif;
  font-size: 22px;
  font-weight: 400;
  margin-top: 2em;
}

h3 {
  font-family: "Fustat", serif;
  font-size: 16px;
  font-weight: 400;
  margin-top: 1.5em;
}

a {
  color: #0066cc;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}